
@keyframes autoRun {
    from {
         transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner {
    height: 100vh;
    text-align: center; 
    overflow: hidden; 
    position: relative;
    width: 100%;
}

.banner .slider {
        animation: autoRun 20s linear infinite;
     position: absolute;
     width: 200px;height: 250px;
     top: 10%;
     left:calc(50% - 100px);
     transform-style: preserve-3d;
     transform: perspective(1000px);
}

.banner .slider .item {
    box-shadow: 0 0 20px 10px rgba(0,0,0,.24);
    position: absolute;
    inset:0 0 0 0;
    transform: rotateY( calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg )) translateZ(550px);
}

.banner .slider .item .image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
}